.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.logo {
    width: 500px;
    margin: 20px;
    align-items: center;
}