.footer {
    background-color: var(--color-primary);
    height: 5rem;
    position: absolute;
    bottom: 0;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}