.summary-wrapper {
    box-shadow: 6px 4px 10px 1px rgba(138,138,138,0.5);
    padding: 16px;
    width: 50%;
    margin: auto;
    border-radius: 25px;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-wrapper {
    display: flex;
    gap: 10px;
}

.title {
    color: var(--color-primary)
}

.writer {
    font-weight: 400;
}